html,
body
{
    height: 100%;
    width: 100%;
}

#header
{
    background-color: aqua;
}
#menu
{
    background-color: coral;
    float: left;
    width: 150px;
    height: 100%;
    font-size:  20px;
}
#menu ul li
{
    list-style: none;
}
#menu ul li a
{
    text-decoration: none;
}
#menu ul li a:hover
{
    background-color: rgb(206, 111, 48);
}
#content
{
    /*background-color: rgb(118, 206, 137);*/
    margin-left: 160px;
}
#footer
{
    background-color: greenyellow;
}

#sourceForm
{
    background-color: rgb(199, 211, 33);
}

#targetForm
{
    background-color: cornflowerblue;
}

.forms
{
    border-radius: 5px;
    padding: 10px;
    width: 400px;
}